extends layout
include utils

block content
  if errors
    +errorField(errors)
  form(action="/park/add" method="post")
    include park-form-fields
    button(type="submit") Add Park
    a(href="/") Cancel
