include utils.pug

input(type="hidden" name="_csrf" value=csrfToken)
+textField("Park Name", "parkName", park.parkName, "text")
+textField("City", "city", park.city, "text")
+textField("Province/State", "provinceState", park.provinceState, "text")
+textField("Country", "country", park.country, "text")
+textField("Opened", "opened", park.opened, "text", "ex: 2000-01-31")
+textField("Size", "size", park.size, "text")
label(for="description") Description
textarea(id="description" name="description" value=park.description)
button(type="submit") Add Park
a(href="/") Cancel
